<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel = "tests"  thread-count = "3">

<listeners>
<listener class-name="Greenview.Automation.Listeners"/>

</listeners>
  <test name="AddProperty">
    <classes>
      <class name="Greenview.Automation.AddPropertyTest"/>
          </classes>
            </test> 
          
        <test name="PerformanceReport">
          <classes>
      <class name="Greenview.Automation.PerformanceTest"/>
                </classes>
        </test> 
        
      <test name="AddEnvironmentData">
    <classes>
      <class name="Greenview.Automation.SearchUserTest"/>
    </classes>
  </test> 
</suite> 
